@use 'src/styles/vars';

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mySwiper {
  width: 60rem;
}

.PostCard3 {

  &__container {
    background-image: url("../../assets/Images/postCard.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 60rem;
    margin-top: 4.5rem;
  }

  &__container__content {
    display: flex;
    flex-direction: row;
    color: vars.$white;
    font-size: 1.37rem;
    height: 60rem;
    max-width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__container__content--contain {
    margin: 12rem 10rem ;
    align-content: center;
    max-width: 70%;
    max-height: fit-content;
  }

  &__container__content--text {
    margin-bottom: 1.5rem;
    text-align: left;
    align-content: center;
  }

  &__container__content--svBtn {
    border: none;
    background: none;
  }

  &__container__content--cpBtn {
    background: none;
    border: none;
    position: absolute;
    right: 10rem;
    bottom: 8rem;
  }

  &__container__content--icons {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {
  .mySwiper {
    width: 100%;
  }

  .PostCard3 {

    &__container {
      background-image: url("../../assets/Images/posts-mobile.svg");
      background-size: 600px 120%;
      max-height: 80rem;
      margin-top: 0rem;
    }

    &__container__content {
    font-size: 1.15rem;
    margin: 0rem 0rem;
    }

    &__container__content--contain {
      margin: 0;
    }

    &__container__content--text {
      margin-bottom: 1.5rem;
      text-align: center;
      align-content: center;
    }

    &__container__content--svBtn {
      border: none;
      background: none;
    }
  
    &__container__content--cpBtn {
      background: none;
      border: none;
      position: absolute;
      right: 11.5rem;
      bottom: -9rem;
    }
  

  }
}
