@use 'src/styles/vars';

.Error {
  color: vars.$white;
  background-color: vars.$mainBackground;
  background-image: url('src/assets/Images/404_chuck_norris.png');
  background-repeat: no-repeat;
  background-position: 90% 75%;
  background-size: 30%;
  font-size: 1.8rem;
  height: 100vh;
  display: flex;
  gap: 3rem;
  padding : 8rem;

  &-title {
    font-size: 10rem;
    font-weight: bold;
  }
  &-subtitle {
    font-size: 320%;
    margin-bottom: 2rem;
  }
  &-description {
    font-size: 160%;
    text-transform: uppercase;
  }
}
