@use 'src/styles/vars';

.Error {
  height: 60vh;
  color: vars.$white;
  text-align: center;
  background-image: url("src/assets/Images/404.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  margin-left: auto;
  margin-right: auto;

  &--code {
    font-family: 'Pacifico', cursive;
    font-size: 15em;
    margin: 0.2em auto;
  
  }

  &--text {
    font-size: 2em;
    color: vars.$red;
  }

  &--text--end {
    font-size: 2em;
    margin-top: 14em;
  }

}

.grey {
  fill: rgba(255, 255, 255, 0.859);
}

.blue {
  color: #225CAA;
  text-decoration: underline;
}

/*
    Styles pour les écrans de moins de 768px de large :
*/
@media screen and (max-width: 768px) {
  
  .Error {

  &--text--end {
    font-size: 2em;
    margin-top: 10em;
  }
}
}


/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {
  
  .Error {

  &--text--end {
    font-size: 2em;
    margin-top: 7em;
  }
}
}



