@use 'src/styles/vars';

.AboutUs {
  color: vars.$white;
  font-size: 1.8rem;
  height: auto;

  &-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem;
  }

  &-title2 {
    margin-top: 5rem;
  }

  &-description {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }

  &-card-img {
      margin-top: 3rem;
      margin-bottom: 2rem;
      background-color: vars.$formInput;
      border-radius: 50%;
      width: 15rem;
  }

  &-card-content-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.main__container--redline {
      border-top: 1px solid #FF1616;
      width: 15rem;
      margin: 4.5rem 5rem 0 5rem;
    }
.main__container--button {
  display: flex;
  flex-direction: row;
  margin: 6rem auto;
}
