@use 'src/styles/vars';

.AboutUs {
  color: vars.$white;
  font-size: 1.8rem;

  &-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem;
  }

  &-description {
    margin-bottom: 1rem;
  }

  &-cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  &-card-img {
      background-color: vars.$formInput;
      width: 15rem;
      border-radius: 50%;
  }

  &-card-content-name {
    text-transform: uppercase;
  }
}
