@use 'reset';
@use 'vars';

  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap%27');
  }

  html {
    font-size: 10px;
  }

  body {
    font-family: 'Chau Philomene One', sans-serif;
  }
