@use 'src/styles/vars';

.main__container {
  color: vars.$white;
  font-size: 1.6rem;
  height: auto;
  display: flex;
  flex-direction: column;

    &__separationBar {
      margin-top: 4.5rem;
    }

    &--redline {
      border-top: 1px solid #FF1616;
      width: 15rem;
      margin: 4.5rem 5rem 0 5rem;
    }

    &--button {
      display: flex;
      flex-direction: row;
      margin: 6rem auto;
    }

    &__AboutUs {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4.5rem;
    }

    &__AboutUs--content {
      margin-bottom: 1rem;
      display: flex;
      max-width: 140rem;
    }

    &__AboutUs--content--title {
      margin-bottom: 2.5rem;
      display: flex;
      max-width: 140rem;
      font-size: 2.5rem;
    }
}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {

  .main__container {
    font-size: 1.4rem;
  }

  .main__container--button {
    display: flex;
    flex-wrap: wrap;
  }
  .main__container__separationBar {
    margin-top: 4.5rem;
    margin-bottom: 0rem;
  }
}
