@use 'src/styles/vars';

.FormGenerator {
  color: vars.$white;
  font-size: 1.8rem;
  font-weight: bold;

  &-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 6rem;
    margin-bottom: 4.5rem;
  }

  &-subtitle {
    margin-top: 4.5rem;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &-description {
    margin-bottom: 3rem;

}

  &-container {
    display: flex;
    flex-direction: column;
    background-image: url('src/assets/Images/PostsFormBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  &-card-title {
    margin-top: 3%;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &-card-description {
    margin-bottom: 4rem;
  }

  &-form-group-by-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 12.5rem;
  }

  &-form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
  }

  &-label {
    text-transform: uppercase;
  }

}
input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
  vertical-align: middle;
  background: vars.$mainBackground;
  border: 3px solid vars.$button;
  border-radius: 0.5rem;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: vars.$red -1.9rem top no-repeat;
}

.main__container--button {
  display: flex;
  justify-content: center;
}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {
  .FormGenerator {
    &-description {
      margin-bottom: 0rem;
  
  }

  &-container {
    background-size: 100%;
  }

  &-form-group-by-3 {
    size: 80%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
  }

  }

}
