@use 'src/styles/vars';

.PostCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 4.5rem 8rem 0 8rem;

  &__container {
    margin-top: 6.5rem;
    background-image: url("../../../assets/Images/postCard.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container__content {
    display: flex;
    flex-direction: column;
    color: vars.$white;
    font-size: 1.8rem;
    min-height: 80rem;
    max-width: 80rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__container__content--contain {
    margin: 12rem 10rem ;
    align-content: center;
  }

  &__container__content--text {
    margin-bottom: 2rem;
    text-align: left;
    align-content: center;
  }
}

button {
  align-items: flex-end;
  border: none;
  background-color: vars.$blueText;
  color: vars.$white;
  text-transform: uppercase;
  width: 15rem;
  height: 3rem;
}

button:hover{

  background-color: vars.$red;
  color: vars.$white;
}





