@use 'src/styles/vars';

.PostCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0rem 8rem 0 8rem;
  height: 100vh;

  &__container {
    // margin-top: 6.5rem;
    background-image: url("../../../assets/Images/postCard.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container__content {
    display: flex;
    flex-direction: column;
    color: vars.$white;
    font-size: 180%;
    min-height: 80rem;
    max-width: 80rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__container__content--card {
    display: block;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  &__container__content--contain {
    margin: 12rem 10rem ;
    align-content: center;
  }

  &__container__content--text {
    margin-bottom: 2rem;
    text-align: left;
    align-content: center;
  }

  &__container__content--icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    gap: 70%;
  }

  &__container__content--saveButton {
    border: none;
    background: none;
    position: static;
  }

  &__container__content--copyButton {
    background: none;
    border: none;
    position: static;    
  }

}

/*
    Styles pour les écrans entre 480px et 768px de large :
*/
@media screen and (max-width: 768px) {
  .PostCard {
    &__container {
    background-image: url("../../../assets/Images/posts-mobile.svg");
  }
  &__container__content {
    font-size: 150%;
  }
  &__container__content--contain {
    margin: 12rem 12rem ;
  }
  &__container__content--text {
    text-align: center;
  }
  }

}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {

.PostCard {
  margin: 0rem;

  &__container {
    background-image: none;
  }

  &__container__content {
    background-image: url("../../../assets/Images/posts-mobile.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    font-size: 1.15rem;
    margin: 0rem 0rem 0rem 0rem;
    min-height: 75rem;
    width: 39rem;
  }

  &__container__content--contain {
    margin: 0 3.8rem;
    display: flex;
    flex-direction: column;
  }

  &__container__content--text {
    margin: 0 2rem 2rem 1.5rem;
    font-size: 125%;
    text-align: center;
    align-content: center;
  }

  &__container__content--icons {
    gap: 55%;
  }
}
}
