@use 'src/styles/vars';

.InfoProfile {
  color: vars.$white;
  font-weight: bold;

  &-title {
    font-size: 2.5rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }

  &-form {
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 4rem;
    background-image: url('src/assets/Images/profileBox.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70rem;
    height: 35rem;
    padding-bottom: 3rem;
  }

  &-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &-group-left {
    border-right: 1.5px solid vars.$red;
  }

  &-group-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 27rem;
  }

  &-form-label {
    font-size: 1.5rem;
    color: vars.$darkText;
  }

  &-form-input {
    width: 95%;
    height: 3.3rem;
    border-width: 0 0 0 2.5px solid vars.$darkText;
    background-color: #8d8f99;
    margin-left: 0.6rem;
  }

  &-form-input::placeholder {
    color: vars.$darkTextTrans;
    font-size: 1.5rem;
  }

  &-button {
      background-color: vars.$darkButton;
      color: vars.$white;
      padding: 1rem;
      width: 23rem;
      border-radius: 25px;
      border: 1px solid vars.$white;
      font-weight: bold;
      font-size: 1.3rem;
      transition: 0.3s;
    }
    &-button-mail {
      margin-top: 4rem;
    }
    
    &-button:hover {
        background-color: vars.$white;
        color: vars.$button;
        transition: 0.3s;
    }

}
