@use 'src/styles/vars';

.InfoProfile {
  color: vars.$white;
  font-weight: bold;

  &-title {
    font-size: 2.5rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }

  &-form {
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    background-image: url('src/assets/Images/profileBox.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72rem;
    height: 40rem;
    padding-bottom: 5rem;
  }

  &-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &-group-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 27rem;
  }

  &-form-label {
    font-size: 150%;
    color: vars.$darkText;
  }

  &-form-input {
    width: 95%;
    height: 3.3rem;
    border-width: 0 0 0 2.5px solid vars.$darkText;
    background-color: #8d8f99;
    margin-left: 0.6rem;
  }

  &-form-input::placeholder {
    color: vars.$darkTextTrans;
    font-size: 100%;
  }

  &-button {
      background-color: vars.$darkButton;
      color: vars.$white;
      padding: 1rem;
      width: 23rem;
      border-radius: 25px;
      border: 1px solid vars.$white;
      font-weight: bold;
      font-size: 130%;
      transition: 0.3s;
    }
    
    &-button-mail {
      margin-top: 4rem;
    }

    &-button-password {
      margin-left: 1.5rem;
    }
    
    &-button:hover {
        background-color: vars.$white;
        color: vars.$button;
        transition: 0.3s;
    }

    &-message-alert {
      color: vars.$white;
      font-size: 2em;
      margin: 3% auto;
  }


/*
  Styles pour les écrans entre 440px et 768px de large :
*/

@media screen and (max-width: 768px) {

  .InfoProfile {
    &-form {
      margin: 4.5rem 3rem;
    }
  }
}

}

/*
  Styles pour les écrans de moins de 440px de large :
*/

@media screen and (max-width: 440px) {

  .InfoProfile {
    &-group-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-button {
      width: 16rem;
      font-size: 100%;
      margin: 0 auto;
    }
    &-form-input {
      width: 75%;
    }
  }
}

