@use 'src/styles/vars';

.header__main__section {
  display: flex;
  position: sticky;
  justify-content: space-between;

  &--Logged-buttons {
    display: flex;
    gap: 6rem;
    align-items: center;
  }
}

.header__section--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.header__Loggedsection--center {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.header__main__Loggedsection {
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: space-between;
  align-items: center;
}

.header__Logged-message {
  color: vars.$white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
}

.header__section--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {
  .header__main__section {
    display: flex;
    position: sticky;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__Loggedsection--center {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
