@use 'src/styles/vars';

.header__main__section {
  display: flex;
  position: sticky;
  justify-content: space-between;

  &--Logged-buttons {
    display: flex;
    gap: 6rem;
    align-items: center;
  }

}

.header__section--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

