@use 'src/styles/vars';

.header__main__section {
  display: flex;
  position: sticky;
  justify-content: space-between;
  // @include tablet-only {
  //   margin-bottom: 1rem;
  // }

  &--Logged-buttons {
    display: flex;
    gap: 6rem;
    align-items: center;
  }
}

.header__section--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.header__Loggedsection--center {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.header__main__Loggedsection {
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: space-between;
  align-items: center;
}

.header__Logged-message {
  color: vars.$white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
}

.header__section--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @ mixin pour les medias-queries : on appelle avec @include dans le scss
// https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass/6606716-ajoutez-des-breakpoints-pour-une-mise-en-page-responsive

/*
    Styles pour les écrans de moins de 780px de large :
*/
// @media screen and (max-width: 780px) {

//   .header__main__section {
//     display: flex;
//     position: sticky;
//     justify-content: space-between;
//     margin-bottom: 1rem;
  
    // &--Logged-buttons {
    //   display: flex;
    //   gap: 6rem;
    //   align-items: center;
    // }
  // }
// }

