.SeparationBar {
  display: block;
  align-items: center;

    &--redLine {
      border-top: 1px solid #FF1616;
      width: 80%;
      margin-left: 10%;
    }

    &--rectangle {
      padding: 0.8rem;
      background-color: #FF1616;
      width: 12%;
      margin-left: 44%;
      margin-top: -0.8rem;
    }
}

/*
    Styles pour les écrans de moins de 780px de large :
*/
@media screen and (max-width: 768px) {

}
