@use 'src/styles/vars';

.PostGenerateButton--button {
  background-color: vars.$button;
  color: vars.$white;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40rem;
  justify-content: center;
  height: 5rem;
}

.PostGenerateButton--button:hover {
    background-color: vars.$white;
    color: vars.$button;
}





