@use 'src/styles/vars';

.PostGenerateButton {
  display: flex;


  &--button {
  background-color: vars.$button;
  color: vars.$white;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40rem;
  justify-content: center;
  height: 5rem;
}

&--button:hover {
    background-color: vars.$white;
    color: vars.$button;
}

&--redline {
  border-top: 1px solid #FF1616;
  width: 15rem;
  margin: auto 3% ;
}

}


/*
    Styles pour les écrans entre 480px et 768 px de large :
*/
@media screen and (max-width: 768px) {

  .PostGenerateButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .PostGenerateButton--redline {
    display: none;
  }
}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {

  .PostGenerateButton {
    display: flex;
    flex-wrap: wrap;
  }

  .PostGenerateButton--button {
    margin-top: 0rem;
    width: 30rem;
  }

}
