@use 'src/styles/vars';

.PostGenerateButton--button {
  background-color: vars.$button;
  color: vars.$white;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40rem;
  justify-content: center;
  height: 5rem;
}

.PostGenerateButton--button:hover {
    background-color: vars.$white;
    color: vars.$button;
}

.main__container--redline {
  border-top: 1px solid #FF1616;
  width: 15rem;
  margin: 4.5rem 5rem 0 5rem;
}

/*
    Styles pour les écrans de moins de 480px de large :
*/
@media screen and (max-width: 480px) {

  .PostGenerateButton {
    display: flex;
    flex-wrap: wrap;
  }

  .PostGenerateButton--button {
    margin-top: 0rem;
    width: 30rem;
  }

  .main__container--redline {
    border-top: 1px solid #FF1616;
  }

}
