@use 'src/styles/vars';

.Login {
  margin: 4.5rem 0rem;

  &-title {
    color: vars.$white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &-subtitle {
    color: vars.$white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 4.5rem;
  }

  &-separation {
    width: 80vw;
  }

  &-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4.5rem;
  }

  &-form-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &-form-label {
    color: vars.$white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &-form-input {
    width:32rem;
    margin-bottom: 2rem;
    height: 4.5rem;
    background-color: vars.$formInput;
    padding: 1.5rem;
    border: none;
    outline: 2px dashed grey;
    outline-offset: -5px;
    border-radius: 10px;
  }

  &-form-button{
    background-color: vars.$button;
    color: vars.$white;
    padding: 1rem 2rem;
    border-radius: 25px;
    border: none;
    margin-top: 2.3rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 40rem;
    height: 5rem;
  }

  &-form-button:hover {
    background-color: vars.$white;
    color: vars.$button;
}

&-a {
  color: vars.$white;
  font-weight: bold;
  font-size: 1.2rem;
}
}

.main__container--redline {
  border-top: 1px solid #FF1616;
  width: 15rem;
 }
