@use 'src/styles/vars';

.RegisterButton--button {
  width: 18rem;
  background-color: vars.$button;
  color: vars.$white;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.RegisterButton--img {
  width: 1.7rem;
  margin-right: 2.5rem;
}

