@use 'src/styles/vars';

.MyPosts--button {
  background-color: vars.$darkButton;
  color: vars.$white;
  padding: 1rem 3rem;
  padding-left: 3.5rem;
  border-radius: 25px;
  border: 1px solid vars.$white;
  font-weight: bold;
  font-size: 1.5rem;
  background-image: url('src/assets/Images/MyPosts.png');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 2rem;
  transition: 0.3s;
  padding-left: 5rem;
}

.MyPosts--button:hover {
    background-color: vars.$white;
    color: vars.$button;
    background-image: url('src/assets/Images/MyPostsHover.png');
    transition: 0.3s;
}


