@use 'src/styles/vars';

.MyPosts--button {
  background-color: vars.$darkButton;
  color: vars.$white;
  padding: 1rem 3rem;
  border-radius: 25px;
  border: 1px solid vars.$white;
  font-weight: bold;
  font-size: 1.5rem;
}

